@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif !important;
  background: linear-gradient(to right, #9a1d86, #1595be);
  font-weight: bold;
}

li {
  list-style-type: none;
  display: flex;
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

a {
  text-decoration: none;
  color: #1f194c;
}

.player {
  font-family: 'Nunito Sans', sans-serif !important;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.wrapper {
  padding: 30px;
  font-family: 'Nunito Sans', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);

}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
}

.track-art {
  font-family: 'Nunito Sans', sans-serif !important;
  margin: 25px;
  height: 255px;
  width: 250px;
  border: 2px solid transparent;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.now-playing {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 1rem;
}

.track-name {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 2.5rem;
}

.track-artist {
  font-family: 'Nunito Sans', sans-serif !important;
  margin-top: 5px;
  font-size: 1.5rem;
}

.buttons {
  font-family: 'Nunito Sans', sans-serif !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.active {
  color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 10px;
  opacity: 0.8;
  transition: opacity .2s;
  cursor: pointer;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}

.randomActive {
  color: black;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}

@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }

  100% {
    background: #4286f4;
    height: 100%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}

/* Custom Right Click */
#context-menu {
  background-color: #ffffff;
  color: #1f194c;
  width: 10em;
  padding: 0.8em 0.6em;
  font-size: 1.3rem;
  position: fixed;
  visibility: hidden;
}

.item {
  padding: 0.3em 1.2em;
}

.item:hover {
  background-color: rgba(44, 141, 247, 0.2);
  cursor: pointer;
}


.modal-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 16px;
  text-decoration: none;
  width: 16px;
}

.close svg {
  width: 16px;
}

.modal-wrapper {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#devloperInfo {
  opacity: 0;
  transition: opacity ease-in-out;
  visibility: hidden;  
  background: rgba(146, 35, 231, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(146, 35, 231, 0.11);
  position: fixed; 
  z-index: 1; 

}

#devloperInfo:target {
  opacity: 1;
  visibility: visible;
}

#devloperInfo:target .modal-body {
  opacity: 1;
  transform: translateY(1);
}

#devloperInfo .modal-body {
  padding: 30px;
  max-width: 500px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity ease-in-out;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(15px) saturate(174%);
  -webkit-backdrop-filter: blur(15px) saturate(174%);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
 


.modal {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0s;
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--align-top {
  align-items: flex-start;
}

.modal__bg {
  background: transparent;
}

.modal__dialog {
  width: 700px;
  padding:15px;
}

.modal__content {
  
  will-change: transform, opacity;
  position: relative;
  padding: 30px;
  background: #ffebee;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content--active {
  opacity: 1;
}

.modal__close {
  z-index: 1100;
  cursor: pointer;
}

.modal__trigger {
  position: relative;
  display: inline-block;
  margin-left: auto;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger--active {
  z-index: 10;
}



#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffebee;
  transform: none;
  opacity: 1;
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}


img {
  max-width: 100%;
}

.demo-btns header {
  padding: 7vh 10vw;
  background: #ffebee;
  display: flex;
  align-items: center;
}

.demo-btns header h1 {
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
}

.demo-btns .info {
  background: #f44336;
  padding: 3vh 10vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.demo-btns p {
  text-align: center;
  color: #fff;
}

.demo-btns .link {
  font-size: 20px;
}

.demo-btns .modal__trigger {
  margin-right: 3px;
}

@media (max-width: 640px) {
  .demo-btns .modal__trigger {
    margin-bottom: 0.8rem;
  }
}

.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}

.demo-close:hover {
  background: rgba(0, 0, 0, 0.6);
}


.download-list-card {
  backdrop-filter: blur(23px) saturate(24%);
  -webkit-backdrop-filter: blur(23px) saturate(24%);
  background-color: rgba(255, 255, 255, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: fit-content;

}

/* Dropdown Button */
.dropbtn {
  font-size: large;
  cursor: pointer;
  backdrop-filter: blur(23px) saturate(24%);
  -webkit-backdrop-filter: blur(23px) saturate(24%);
  background-color: rgba(255, 255, 255, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  text-decoration: none;
  border: none;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif !important;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  font-family: 'Nunito Sans', sans-serif !important;
  border: none;
  font-weight: 600;
  color: #0d7ba0;
  background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  top:30%;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  padding: 30px;
  border: #9a1d86;
  position: relative;
  margin: auto;
  height: auto;

  top: 5%;
  /* 25% from the top */
  width: 90%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.topbar {
  display: flex;

}

.icon_en {
  border-radius: 50%;
  background-color: rgb(248, 248, 248);
  padding: 2px;
}

.icon_en:is(:hover, :focus) {
  color: inherit;
  background-color: rgb(214, 209, 209);
}

.search {
  margin-left: 220px;
  cursor: pointer;
  right: 1px;
  color: black;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #25a5e0;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}




input[type=text] {
  width: 60%;
  height: 50px;
  border: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
  padding: 0 80px 0 20px;
  border-radius: 15px;
  font-family: 'Nunito Sans', sans-serif !important;

}

input:hover {
  cursor: pointer;
}

input::target-text {
  color: black
}

input[type=text]:focus {
  border: none;

}

input::placeholder {
  color: black;
  opacity: 0.5;
  font-size: large;
  font-weight: bolder;
}

#saavn-search-trigger {
  margin-left:15px;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

#saavn-search-trigger:hover {
  background-color: #374151;
}

#saavn-search-trigger:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  #saavn-search-trigger {
    padding: .75rem 1.5rem;
  }
}



.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */
.card {
  margin: 20px;
  padding: 10px;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  /* grid-template-rows: 20px 50px 1fr 50px; */
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
} 

.card__title {
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: flex-end;
}